/* The side navigation menu */
.container{
    width: 80%;
}

.logo{
    max-height: 30px;
}

.navbar-icon{
    height:30px;
    vertical-align: middle;
    margin: 10px 20px 0 30px;
}

.hamburger{
    height:30px;
    width: 40px;
    margin: 10px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px solid #b2b2b2;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    color: black;
    text-decoration: none !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.box{
    border: 1px solid #f9f9f9;
    padding: 0 10px 10px 10px;
}

.box-hover:hover{
    background-color: rgba(45, 135, 181, 0.2);
}

#game{
    display: none;
}

.hint{
    display: none;
}

.icon-hint{
    height:30px;
    vertical-align: middle;
    margin: 10px 10px 0 0;
    float:left;
}

.game-level{
    background-color: #f9f9f9;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 3vh;

    -o-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}


.game-level h4{
    color: black;
}

.game-level:hover{
    background-color: gainsboro;
}

.centered{
    text-align: center;
}


.score-table{
    background: rgba(1, 57, 120, 0.5);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    line-height:100px;
    float:right;
}

.total-score{
    font-size: 24px;
line-height: 130px;
    color:white;
    font-weight: 100;
}

button{
    background: rgba(1, 57, 120, 0.3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 40px;

    -o-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}

button:hover{
    background: rgba(1, 57, 120, 0.5);
}

#button-verify{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
}




/*Standard classes*/

.align-right{
    text-align: right;
    float:right;
}

