<!DOCTYPE html>
<html lang="en" ng-app="cite">
<head>
    <meta charset="UTF-8">
    <title>CiTE</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/libs/bootstrap.min.css" rel="stylesheet">
    <link href="css/libs/font-awesome.min.css" rel="stylesheet">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
<header ng-controller="headerController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <div class="navbar-right">
                <img class="navbar-icon" src="assets/settings.png">
                <img class="navbar-icon" src="assets/user.png">
            </div>


            <span ng-click="openNav()"><img class="hamburger" src="https://openclipart.org/image/2400px/svg_to_png/221605/menu-icon.png"></span>
        </div><!-- /.navbar-collapse -->
        <div id="mySidenav" class="sidenav">
            <img class="logo sidenav" src="http://logonoid.com/images/cemex-logo.png">
            <a class="closebtn" ng-click="closeNav()">&times;</a>
            <a href="#">Dashboard</a>
            <a href="#">Projects</a>
            <a href="#">Notifications</a>
            <a href="#/trainings">Training</a>
            <a href="#">Archive</a>
        </div>
    </nav>
</header>


<div ng-view></div>

<footer ng-include="templates/footer.html"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
</body>
</html>