<section class="container">
    <div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <a ng-click="toGame('game6')">
                            <div class="game-level centered" ng-class="{active: currentLevel>6}">
                                <h4>Level 6</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a ng-click="toGame('game4')">
                            <div class="game-level centered" ng-class="{active: currentLevel>4}">
                                <h4>Level 4</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a ng-click="toGame('game5')">
                            <div class="game-level centered"  ng-class="{active: currentLevel>5}">
                                <h4>Level 5</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a ng-click="toGame('game1')">
                            <div class="game-level centered"  ng-class="{active: currentLevel>1}">
                                <h4>Level 1</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a ng-click="toGame('game2')">
                            <div class="game-level centered"  ng-class="{active: currentLevel>2}">
                                <h4>Level 2</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a ng-click="toGame('game3')">
                            <div class="game-level centered" ng-class="{active: currentLevel>3}">
                                <h4>Level 3</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 score">
                <h3 class="align-right">Your Total Score</h3>
                <div class="score-table centered">
                    <h4 class="total-score">{{totalScore}}</h4>
                </div>
            </div>
        </div>
        <hr class="line">
        <section id="game" ng-show="game1">
            <div id="game-feedback" ng-if="message">
                <h4 ng-class="messageClass">{{message}}</h4>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-6 hint" ng-repeat="hint in hints | limitTo:hintsNum">
                        <img class="icon-hint" src="assets/hint.png">
                        <h5>Hint {{$index+1}}</h5>
                        <br/>
                        <img class="img-responsive" style="border-radius: 10px" ng-show="hint.img" ng-src="{{hint.img}}">
                        <p ng-hide="hint.img" class="hint-text">{{hint}}</p>
                    </div>
                </div>
                <div class="col-md-3 score align-right">
                    <h3 class>Possible Score: {{currentScore}}</h3>
                    <button ng-click="showHint()">Get Another Hint</button>
                    <button>Skip</button>
                </div>
            </div>
            <div>
                <input type="text" value="your answer" ng-model="answer">
                <button id="button-verify" ng-click="verify()">Verify</button>
            </div>
        </section>
    </div>
</section>