<header ng-controller="headerController" ng-hide="presentation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-right">
                <img class="navbar-icon" src="assets/settings.png" ng-click="presenting()">
                <img class="navbar-icon" src="assets/user.png">
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <span ng-click="openNav()"><img class="hamburger" src="https://openclipart.org/image/2400px/svg_to_png/221605/menu-icon.png"></span>
        </div><!-- /.navbar-collapse -->
        <div id="mySidenav" class="sidenav">
            <img class="logo" src="assets/cite-logo.png">
            <a class="closebtn" ng-click="closeNav()">&times;</a>
            <a href="#/welcome">Dashboard</a>
            <a href="#/projects">Projects</a>
            <a href="#/notifications">Notifications</a>
            <a href="#/trainings">Training</a>
            <a href="#/archive">Archive</a>
            <a href="#/pole/0" ng-click="presenting()">POLE</a>
        </div>
    </nav>
</header>
<section>
    <h1 class="text-center">Welcome to CiTE</h1>
</section>