<header ng-controller="headerController" ng-hide="presentation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-right">
                <img class="navbar-icon" src="assets/settings.png" ng-click="presenting()">
                <img class="navbar-icon" src="assets/user.png">
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <span ng-click="openNav()"><img class="hamburger" src="https://openclipart.org/image/2400px/svg_to_png/221605/menu-icon.png"></span>
        </div><!-- /.navbar-collapse -->
        <div id="mySidenav" class="sidenav">
            <img class="logo" src="assets/cite-logo.png">
            <a class="closebtn" ng-click="closeNav()">&times;</a>
            <a href="#/welcome">Dashboard</a>
            <a href="#/projects">Projects</a>
            <a href="#/notifications">Notifications</a>
            <a href="#/trainings">Training</a>
            <a href="#/archive">Archive</a>
            <a href="#/pole/0" ng-click="presenting()">POLE</a>
        </div>
    </nav>
</header>
<section class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2>Training</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut. </p>
        </div>
    </div>

    <div class="row">

        <a href="#/content-mastery/game1">
            <div class="col-sm-3 box box-hover ">
                <h3>Content Mastery</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </a>

        <a href="">
            <div class="col-sm-3 box box-hover ">
                <h3>Pitch Practice</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </a>

        <a href="">
            <div class="col-sm-3 box box-hover ">
                <h3>Goals & Performance</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </a>
    </div>

</section>